{% set navPages = collections.all | eleventyNavigation("Vlendir") %}

<nav class="nav">
    <div class="wrapper">
        <ul class="nav_list">
            {%- for entry in navPages %}
                <li class="nav_list-item">
                    <a href="{{ entry.url }}" alt="Navigate to {{ entry.title }}" class="nav_list-item_link">
                        {{ entry.title }}
                    </a>
                </li>
            {%- endfor -%}
                <li class="nav_list-item">
                    <a href="/vlendir/npcs" alt="Navigate to npcs" class="nav_list-item_link">
                        NPCs
                    </a>
                </li>
        </ul>
    </div>
</nav>