{% macro header(params) %}
<header class="header">

  <div class="wrapper header-wrapper">

    <h2 class="site-heading">
      <a class="site-heading-link" href="/" alt="Go to homepage">
        {{params.siteName}}
      </a>
    </h2>
    <h3 class="site-subheading">
      {{params.description}}
    </h3>

  </div>
</header>

{% endmacro %}
