---
layout: layouts/npcbase.njk
title: NPCS
---
{%- from "../../_includes/partials/statBlockSimple.njk" import statBlockSimple %}

{% for place in npcList.data %}
    <h2>{{ place.place }}</h2>
    {% for npc in place.npcs %}
        {{ statBlockSimple(npc) }}
    {% endfor %}
{% endfor %}
