on:
  workflow_call:

jobs:
  build:
    name: Lint Code
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v5.0.0

      - name: Set up prerequisites - node and yarn
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: Cache yarn dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: ./node_modules
          key: modules-${{ hashFiles('yarn.lock') }}

      - name: Install packages
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install

      - name: Run lint markdown
        continue-on-error: true
        run: yarn run lint:markdown

      - name: Run Linting
        continue-on-error: true
        run: yarn run lint:check
