name: "[workflow] Pull Request"

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Run lint job
    uses: ./.github/workflows/lint_job.yml

  lighthouse:
    name: Run lighthouse job
    uses: ./.github/workflows/lighthouse_job.yml

  pa11y:
    name: Run pa11y job
    uses: ./.github/workflows/pa11y_job.yml

  build_deploy:
    name: Build and Deploy Preview
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5.0.0

      - name: Set up prerequisites - node and yarn
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: Cache yarn dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: ./node_modules
          key: modules-${{ hashFiles('yarn.lock') }}

      - name: Install packages
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install
      
      - name: Generate slug
        id: generate_slug
        run: echo "##[set-output name=slug;]$(echo ${GITHUB_HEAD_REF#refs/heads/} | sed -r 's/[~\^]+//g' | sed -r 's/[^a-zA-Z0-9]+/-/g' | sed -r 's/^-+\|-+$//g' | tr A-Z a-z)"

      - name: Build
        run: yarn run build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.7.3
        with:
          branch: gh-pages
          folder: _site
          target-folder: ${{ steps.generate_slug.outputs.slug }}
      - name: Publish env
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: Preview environment
          message: |
            ## Preview environment
            https://vlendir.johnnolan.dev/${{ steps.generate_slug.outputs.slug }}/
