{% macro statBlockSimple(npc) %}

<div class="stat-block">
        <hr class="orange-border" />
        <div class="section-left">
            <div class="creature-heading">
                <h1>{{ npc.name }}</h1>
                <h2>{{ npc.race }}</h2>
            </div> <!-- creature heading -->
            <div class="creature-heading">
                <img src="/assets/images/npcs/{{ npc.image }}" />
            </div> <!-- creature heading -->
            <svg height="5" width="100%" class="tapered-rule">
            <polyline points="0,0 400,2.5 0,5"></polyline>
        </svg>
        </svg>
                <div class="property-block">
                    <h4>Gender.</h4>
                    <p>{{ npc.gender }}</p>
                </div> <!-- property block -->  
                <div class="property-block">
                    <h4>Job.</h4>
                    <p>{{ npc.job }}</p>
                </div> <!-- property block -->  
                <div class="property-block">
                    <h4>Age.</h4>
                    <p>{{ npc.age }} years old</p>
                </div> <!-- property block -->  
                <div class="property-block">
                    <h4>Hair.</h4>
                    <p>{{ npc.hair }}</p>
                </div> <!-- property block -->  
                <div class="property-block">
                    <h4>Eyes.</h4>
                    <p>{{ npc.eyes }}</p>
                </div> <!-- property block --> 
            <div class="property-block">
                <h4>Personality.</h4>
                 {% for trait in npc.personality %}
                    <p>{{ trait }}</p>
                    <br />
                    <br />
                {% endfor %}
            </div> <!-- property block -->
        </div> <!-- section left -->
        <hr class="orange-border bottom" />
    </div> <!-- stat block -->
{% endmacro %}
